#kariers{
	
width:1690px;
height:965px;	
}
#blackblock{
	width:1690px;
	height:961px;
	background-color:#000000;
     opacity: 0.3;
	position:absolute;
	top:0px;
	left:0px;
}

#proses{
width:1690px;	
height:420px;	
top:2280px;
left:0px;	
	
}
 *{
        padding:0;
        margin:0;
		
        }	


.blockpanelznachki1{
   width:1300px;
    height:955px;    
    position:absolute;
	top:-862px;
	left:-113px;	     
    display:none;
	border-top-right-radius:100px;	
border-bottom-right-radius:100px;
-webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
   background: hsla(0, 0%, 100%, .25) border-box;
   box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .3) inset, 0 .5em 1em rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 1px hsla(0, 0%, 100%, .3);   
}
#navblock1:hover .blockpanelznachki1{
    display:block;	
}

#navblock1 p{
text-align:center;
font-size:14px;	
color:#fff;
margin-top:16px;
font-family: "verdana"
}
#navblock1{	
width:220px;
height:50px;		
position:absolute;
	top:870px;
	left:110px;		
cursor:pointer;	
 border: 2px solid #fff;
cursor:pointer;	

}
#navblock1:hover{	
	width:220px;
height:50px;		
position:absolute;
	top:860px;
	left:110px;		
cursor:pointer;	
 border: 2px solid #fff;
cursor:pointer;	
}




















#fraza11{
position:absolute;
	top:500px;
	left:110px;	
	font-size:42px;
	color:#fff;
	text-decoration: none;
font-family: "verdana"
}
#fraza22{
position:absolute;
	top:550px;
	left:100px;	
	font-size:120px;
	color:#fff;
	text-decoration: none;
font-family: "verdana"
}
#fraza3{
position:absolute;
	top:709px;
	left:110px;	
	font-size:15px;
	color:#FEFEFE;
	text-decoration: none;
font-family: "verdana"
}
#fraza4{
position:absolute;
	top:736px;
	left:110px;	
	font-size:15px;
	color:#FEFEFE;
	text-decoration: none;
font-family: "verdana"
}
#fraza5{
position:absolute;
	top:763px;
	left:110px;	
	font-size:15px;
	color:#FEFEFE;
	text-decoration: none;
font-family: "verdana"
}
#fraza6{
position:absolute;
	top:790px;
	left:110px;	
	font-size:15px;
	color:#FEFEFE;
	text-decoration: none;
font-family: "verdana"
}
#fraza7{
position:absolute;
	top:817px;
	left:110px;	
	font-size:15px;
	color:#FEFEFE;
	text-decoration: none;
font-family: "verdana"
}	