#myVideo{	
  position: absolute;
  top:0;
 

}
   *{
        padding:0;
        margin:0;
		
        }	
.mainblock1{

    overflow: hidden;
 height:961px;
  width: 1690px;
  position: relative;


margin-left:0px;	
  
}
#blackblock{
	 width: 1690px;
	height:961px;
	background-color:#000000;
     opacity: 0.3;
	position:absolute;
	top:0px;
	left:0px;
}

#blockwhite{
  position: absolute;	
width:300px;
height:961px;	
top:0px;
	left:0px;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
   background: hsla(0, 0%, 100%, .25) border-box; 
   border: 0px solid transparent;	

	}


#block1{
width:600px;
height:100px;	
border: 0px solid transparent;		
position:absolute;
top:0px;
left:700px;
	  	-webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
   background: hsla(0, 0%, 100%, .25) border-box;	
border-bottom-left-radius:50px;  
border-bottom-right-radius:50px;  
}


#block2{
width:150px;
height:150px;
border: 0px solid transparent;		
position:absolute;
top:0px;
left:810px;
	  	-webkit-backdrop-filter: blur(15px);
		backdrop-filter: blur(15px);
   background: hsla(0, 0%, 100%, .25) border-box;	
border-bottom-left-radius:30px;  
border-bottom-right-radius:30px; 
}
#block3{
width:150px;
height:150px;
border: 0px solid transparent;	
	
position:absolute;
top:0px;
left:1120px;
	  	-webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
   background: hsla(0, 0%, 100%, .25) border-box;
	
border-bottom-left-radius:30px;  
border-bottom-right-radius:30px; 
}
#block4{
width:150px;
height:150px;
border: 0px solid transparent;	
	
position:absolute;
top:0px;
left:1438px;
	  	-webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
   background: hsla(0, 0%, 100%, .25) border-box;
	
border-bottom-left-radius:30px;  
border-bottom-right-radius:30px; 
}
#mann{
width:80px;
height:80px;
margin-top:0px;
margin-left:20px;	
}

#fraza1_1{
color: #ffffff;	
font-size:42px;	
font-family: "gotic";
margin-top:60px;
margin-left:20px;	
}
#fraza1_2{
color:#000;	
font-size:42px;	
font-family: "gotic";
margin-top:60px;
margin-left:20px;	
}
#fraza1_3{
color:#000;	
font-size:42px;	
font-family: "gotic";
margin-top:30px;
margin-left:20px;
}
#fraza1_4{
color:#000;	
font-size:42px;	
font-family: "gotic";
margin-top:30px;
margin-left:20px;	
}
#fraza1_5{
color:#000;	
font-size:42px;	
font-family: "gotic";
margin-top:30px;
margin-left:20px;	
}
#fraza1_6{
color:#000;	
font-size:42px;	
font-family: "gotic";
margin-top:30px;
margin-left:20px;	
}
#fraza1_7{
color:#000;		
font-size:42px;	
font-family: "gotic";
margin-top:30px;
margin-left:20px;	
}	




#fraza11{
position:absolute;
	top:500px;
	left:210px;	
	font-size:42px;
	color:#fff;
	text-decoration: none;
font-family: "verdana"
}
#fraza22{
position:absolute;
	top:580px;
	left:345px;	
	font-size:90px;
	color:#fff;
	text-decoration: none;
font-family: "verdana"
}
#fraza3{
position:absolute;
	top:709px;
    left:350px;		
	font-size:15px;
	color:#FEFEFE;
	text-decoration: none;
font-family: "verdana"
}
#fraza4{
position:absolute;
	top:736px;
	left:350px;	
	font-size:15px;
	color:#FEFEFE;
	text-decoration: none;
font-family: "verdana"
}
#fraza5{
position:absolute;
	top:763px;
	left:350px;		
	font-size:15px;
	color:#FEFEFE;
	text-decoration: none;
font-family: "verdana"
}
#fraza6{
position:absolute;
	top:790px;
	left:350px;		
	font-size:15px;
	color:#FEFEFE;
	text-decoration: none;
font-family: "verdana"
}
#fraza7{
position:absolute;
	top:817px;
	left:350px;		
	font-size:15px;
	color:#FEFEFE;
	text-decoration: none;
font-family: "verdana"
}	

.blockpanelznachki1{
   width:1241px;
    height:960px;    
    position:absolute;
	top:-864px;
	left:337px;	     
    display:none;

-webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
   background: hsla(0, 0%, 100%, .25) border-box;
   box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .3) inset, 0 .5em 1em rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 1px hsla(0, 0%, 100%, .3);   
}
#navblock1:hover .blockpanelznachki1{
    display:block;	
}

#navblock1 p{
text-align:center;
font-size:14px;	
color:#fff;
margin-top:16px;
font-family: "verdana"
}
#navblock1{	
width:220px;
height:50px;		
position:absolute;
	top:870px;
	left:350px;			
cursor:pointer;	
 border: 2px solid #fff;
cursor:pointer;	

}
#navblock1:hover{	
	width:220px;
height:50px;		
position:absolute;
	top:860px;
	left:110px;		
cursor:pointer;	
 border: 2px solid #fff;
cursor:pointer;	
}
#nazvi{
width:380px;
height:900px;		
position:absolute;
	top:50px;
	left:30px;		
	
	
}